<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Y</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <!-- Toastify CSS -->
  </head>

  <body class="bg-gray-900 min-h-screen">
    <!-- Navbar -->
    <!-- End of Navbar -->

    <!-- Main Content -->
    <%- include('_nav') %>
    <main class="pt-20 px-10">
      <!-- Padding top to avoid overlap with navbar -->
      <section class="post flex justify-center w-full py-8 h-auto">
        <div class="bg-gray-800 flex flex-col w-full max-w-screen-lg mx-auto rounded">
          <% users.forEach(element => { %>
          <div class="card text-white mx-3 items-center justify-center flex gap-4 flex-col mb-6">
            <div class="pt-5 w-full flex flex-col justify-center">
              <a href="/post/<%= element.id %>">
                <div class="flex items-center space-x-3">
                  <img src="https://via.placeholder.com/48" alt="profile" class="rounded-full w-12 h-12" />
                  <div>
                    <h2 class="text-white font-bold"><%= element.User.Profile.name %></h2>
                    <span class="text-gray-500">@<%= element.User.username %></span>
                  </div>
                </div>
              </a>
              <div class="w-full flex">
                <p><%= element.caption %></p>
              </div>
            </div>
            <div class="w-full flex-col">
              <img src="<%= element.image %>" class="w-64 h-64 object-cover rounded-md" alt="Image" />
              <div class="p-4 w-full flex gap-8">
                <div>
                  <p><%=getTime(element.User.Profile.createdAt) %></p>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
    <!-- End of Main Content -->
  </body>
</html>
